version: '3.9'

services:
  postgres:
    image: postgres:15
    container_name: go_dev_db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: go_dev_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
